<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar compra</title>
</head>
<body>
    <div class="filtros">
        <h2>Filtros</h2>
        <div class="tipoFarCard">
            <input type="radio" name="tipofarmaco" id="laboratorio">
            <label for="laboratorio">Laboratorio: </label>
            <input type="radio" name="tipofarmaco" id="generico">
            <label for="generico">Genérico: </label>
            <input type="text" name="tipofarfield" id="tipofarfield">
        </div>
        <div class="prodCard">
            <input type="checkbox" name="nomprod" id="nomprod">
            <label for="nomprod">Nombre Producto</label>
            <input type="text" name="dosisfield" id="dosisfield">
        </div>
        <div class="dosisCard">
            <input type="checkbox" name="dosis" id="dosis">
            <label for="dosis">Dosis</label>
            <input type="text" name="dosisfield" id="dosisfield">
        </div>
    </div>
    <div class="resultados">
        <h2>Resultados</h2>
        <div class="card">
            <img src="/img/pills.jpg" alt="pills">
            <div class="card-body">
                <h5>Ambroxol 10mg</h5>
                <button class="prodInfo">i</button>
                <button class="prodAdd">+</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/pills.jpg" alt="pills">
            <div class="card-body">
                <h5>Betametasona 10mg</h5>
                <button class="prodInfo">i</button>
                <button class="prodAdd">+</button>
            </div>
        </div>
        <div class="card">
            <img src="/img/pills.jpg" alt="pills">
            <div class="card-body">
                <h5>Ambroxol 10mg</h5>
                <button class="prodInfo">i</button>
                <button class="prodAdd">+</button>
            </div>
        </div>
    </div>
    <div class="pedidos">
        <h2>Pedidos</h2>
        <ul>
            <li>
                <div class="pedidoCard">
                    <img src="/img/pills.jpg" alt="pills">
                    <div>
                        <span>Ibuprofeno 50mg</span>
                        <span>
                            <label for="cantped1">Cantidad: </label>
                            <input type="number" name="cantped1" id="cantped1" value="10">
                        </span>
                        <span>Monto: S/. 150.00</span>
                        <span>
                            <button id="elimprod1">X</button>
                        </span>
                    </div>
                </div>
            </li>
            <hr>
            <li>
                <div class="pedidoCard">
                    <img src="/img/pills.jpg" alt="pills">
                    <div>
                        <span>Paracetamol 25mg</span>
                        <span>
                            <label for="cantped2">Cantidad: </label>
                            <input type="number" name="cantped2" id="cantped2" value="20">
                        </span>
                        <span>Monto: S/. 400.00</span>
                        <span>
                            <button id="elimprod2">X</button>
                        </span>
                    </div>
                </div>
            </li>
            <hr>
            <li>
                <div class="pedidoCard">
                    <img src="/img/pills.jpg" alt="pills">
                    <div>
                        <span>Eutirox 50ug</span>
                        <span>
                            <label for="cantped3">Cantidad: </label>
                            <input type="number" name="cantped3" id="cantped3" value="15">
                        </span>
                        <span>Monto: S/. 450.00</span>
                        <span>
                            <button id="elimprod3">X</button>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="montos">
            <span>Subtotal</span>
            <span>S/. 1312.00</span>
        </div>
        <div class="montos">
            <span>IGV</span>
            <span>S/. 288.00</span>
        </div>
        <div class="montos">
            <span>Total</span>
            <span>S/. 1600.00</span>
        </div>
    </div>
</body>
</html>