<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="form">
                <h2>Ventas</h2>
                <form method="POST">
                    <div class="form-control">
                        <label for="tipocomp">Tipo de Comprobante: </label>
                        <select id="tipocomp" name="tipocomp">
                            <option value="boleta">Boleta</option>
                            <option value="factura">Factura</option>
                        </select>
                    </div>
                    <div class="form-control">
                        <label for="dni">DNI: </label>
                        <input type="text" name="dni" id="dni">
                    </div>
                    <!-- Se mostrará cuando se seleccione Factura en aquella opción -->
                    <!-- To Do: implementarlo en ejs -->
                    <!-- <div class="form-control">
                        <label for="ruc">RUC: </label>
                        <input type="text" name="ruc" id="ruc">
                    </div>
                    <div class="form-control">
                        <label for="rsocial">Razon social: </label>
                        <input type="text" name="rsocial" id="rsocial">
                    </div> -->
                    <div class="form-control">
                        <div>
                            <label for="prod">Producto: </label>
                            <input type="text" name="prod" id="prod">
                        </div>
                        <div>
                            <input type="radio" name="tipofarmaco" id="laboratorio">
                            <label for="laboratorio">Laboratorio</label>
                            <input type="radio" name="tipofarmaco" id="generico">
                            <label for="generico">Genérico</label>                            
                        </div>
                        <div>
                            <button id="buscarProd">Buscar</button>                            
                        </div>
                    </div>
                    <div class="form-control">
                        <p>Presentación: </p>
                        <input type="radio" name="present" id="caja">
                        <label for="caja">Caja</label>
                        <input type="radio" name="present" id="blister">
                        <label for="blister">Blíster</label>
                    </div>
                    <div class="form-control">
                        <label for="coddesc">Cod. descuento: </label>
                        <input type="text" name="coddesc" id="coddesc">
                    </div>
                    <div class="actions">
                        <button id="cotizar">Cotizar</button>
                        <button type="submit">Proceder</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="coincide">
                <h2>Coincidencias</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Dosis</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Anaquel</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Cetirizina</th>
                            <td>50 mg</td>
                            <td>13</td>
                            <td>AB-1</td>
                            <td><button id="addToCart">+</button></td>
                        </tr>
                        <tr>
                            <th scope="row">Cetirizona</th>
                            <td>25 mg</td>
                            <td>20</td>
                            <td>BC-1</td>
                            <td><button id="addToCart">+</button></td>
                        </tr>
                        <tr>
                            <th scope="row">Cetirizol</th>
                            <td>100 mg</td>
                            <td>30</td>
                            <td>CD-1</td>
                            <td><button id="addToCart">+</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="carrito">
                <h2>Carrito</h2>
                <div class="listado">
                    <ul>
                        <li>
                            <div>
                                <span></span>
                                <span>Anaquel</span>
                                <span></span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Cetirizina 50mg</span>
                                <span>AB-1</span>
                                <span class="carOpts">
                                    <button>X</button>
                                    <input type="number" name="cant" id="cant" value="4">
                                </span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <span>Cetirizona 25mg</span>
                                <span>BC-1</span>
                                <span class="carOpts">
                                    <button>X</button>
                                    <input type="number" name="cant" id="cant" value="3">
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="montos">
                        <span>Subtotal</span>
                        <span>S/. 56.00</span>
                    </div>
                    <div class="montos">
                        <span>IGV</span>
                        <span>S/ 10.08</span>
                    </div>
                    <div class="montos">
                        <span>Descuento</span>
                        <span>S/. 5.00</span>
                    </div>
                    <div class="montos">
                        <span>Total</span>
                        <span>S/. 61.10</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>